@model Projekat.Shared.DTOs.PasswordResetDTO

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Reset your password.</h2>
                <hr />
                <input type="hidden"  asp-for="PasswordGuid" class="form-control" aria-required="true" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="Password">New Password:</label>
                    <input asp-for="Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="RepeatPassword">Confirm New Password</label>
                    <input asp-for="RepeatPassword" class="form-control" aria-required="true" />
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
                <br>
                <div>
                    <button id="passwordReset-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </div>
                <br>
            </form>
        </section>
    </div>

</div>